h1,
h2,
h3 {
  text-align: center;
}

.todo-content {
  max-width: 900px;
}

.todoCounter {
  background-color: hsl(0, 14%, 89%);
  padding: 5px;
  border-radius: 5px;
  max-width: 400px;
  margin: auto;
}